
html,
body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}


section {
  width: 1401px;
  margin: 50px auto;
  padding: 0;
}
section#config {
  display: none;
}
section#game {
  height: 600px;
}


form {
  width: 250px;
}
  form button {
    padding: 8px;
  }
  form > div {
    display: flex;
    justify-content: space-between;
  }


header,
footer,
main,
aside {
  margin: 0;
  padding: 0;
}

  h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -3px;
    margin: 0 0 20px 0;
    padding: 0;
  }

main {
  height: 100%;
  background-color: #000;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #252525 1px, transparent 1px), linear-gradient(to bottom, #252525 1px, transparent 1px);
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

article {
  flex: 4;
  position: relative;
}

aside {
  position: relative;
  flex: 1;
  background: #fff;
  font-size: 14px;
  line-height: 1;
}
  aside > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #scoreboard {
    width: 100%;
    display: block;
  }
  #scoreboard > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px 0;
  }
  #scoreboard > div div {
    flex: 1;
  }
  #scoreboard > div div:last-child {
    text-align: right;
  }
  #scoreboard .message {
    font-style: italic;
    padding: 0 0 20px 0;
  }

  #controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
  }

button {
  cursor: pointer;
  background: #eee;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  position: relative;
}

  nav.arrows {
    display: flex;
    align-items: flex-start;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eee;
    border: solid 1px #ddd;
  }
    nav.arrows button {
      margin: 0;
      padding: 0;
      background: transparent;
      border: 0;
      font-size: 32px;
      position: absolute;
    }
      button.up { top: -6px; left: 20px; width: 20px; }
      button.up:after { content: '\2191'; }

      button.down { bottom: 0; left: 20px; width: 20px; }
      button.down:after { content: '\2193'; }

      button.left { top: 14px; left: 0; height: 20px; line-height: 20px; }
      button.left:after { content: '\2190'; }

      button.right { top: 14px; right: 0; height: 20px; line-height: 20px; }
      button.right:after { content: '\2192'; }

  nav.others {

  }
    nav.others button {
      background: #eee;
      height: 25px;
      line-height: 25px;
      padding: 0 10px;
      margin: 0 10px 0 0;
      font-size: 14px;
    }

.obj {
  position: absolute;
  display: block;
  text-align: center;
  line-height: 1;
  width: 20px;
  height: 20px;
  background: #252525;
}
  .obj.-positive {
    box-shadow: 0 0 8px 2px #fc0;
    transition: box-shadow 0s ease-out;
  }
  .obj.-negative {
    box-shadow: 0 0 8px 2px #c00;
    transition: box-shadow 0s ease-out;
  }

  .obj .label {
    position: absolute;
    top: -8px;
    left: 8px;
    z-index: 1;
    padding: 2px 3px 1px 3px;
    background: #ddd;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1;
    display: none;
  }

    [data-type='player'] .label,
    [data-type='automaton'] .label {
      display: block;
    }


  [data-type='block'] { }
    [data-type='block'].-l { width: 40px; height: 40px; }
    [data-type='block'].-xl { width: 60px; height: 60px; }
    [data-type='block'].-xxl { width: 80px; height: 80px; }

  [data-type='player'] {
    border-radius: 50%;
    background: #f90;
    /* Fit between snapTo blocks. */
    width: 18px;
    height: 18px;
  }

  [data-type='automaton'] {
    border-radius: 50%;
    background: #a1d30d;
    /* Fit between snapTo blocks. */
    width: 18px;
    height: 18px;
  }

  [data-type='fast'] {
    background: transparent;
    border: solid 1px #252525;
    color: #fc0;
    width: 19px;
    height: 19px;
  }
    [data-type='fast']:after {
      content: '\02605';
      position: absolute;
      top: 10%;
      left: 13%;
    }

  [data-type='health'] {
    background: #d5d5d5;
    border: solid 1px #252525;
    color: #c00;
    width: 19px;
    height: 19px;
  }
    [data-type='health']:after {
      content: '\0271A';
      position: absolute;
      top: 11%;
      left: 15%;
    }

  [data-type='mine'] {
    background: transparent;
    color: #252525;
    border: solid 1px #252525;
    width: 19px;
    height: 19px;
  }
    [data-type='mine']:after {
      content: '\02716';
      position: absolute;
      top: 13%;
      left: 16%;
    }
